<div class="row">
    <div class="col-md-5">
        <form id="new-post-form">
            <div class="form-group">
                <label for="title">Title</label>
                {{input type="text" class="form-control" value=title placeholder="Add Awesome post title here..."}}
            </div>
            <div class="form-group">
                <label for="slug">Slug</label>
                {{input type="text" class="form-control" value=slug   placeholder="Add post slug here (small description of post or tagline)."}}
            </div>
            <div>
                {{pell-editor value=value onChange=(action (mut value)) pellOptions=options}}
            </div>
            <button type="submit" {{action  'savePost'}}class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col-md-6">
        {{parse-html this.value}}
    </div>

</div>

